.Notes p {
    color: #13897D;
}
.Notes{
 height: 90px;
    background-color:  #36ad915e;
    align-content: center;
}

@media (max-width: 1005px) {
   #hideMe{
      display: none;
   }

   .Notes .row > div {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
  }
}