.Newsletter .container {
    background-image: url('../images/newsbackdrop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  
  .Newsletter h3 {
    color: #13897D;
    font-weight: bold;
  }
  
  .Newsletter p {
    font-size: 17px;
    opacity: 0.7;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .Newsletter p span {
    color: #076565;
    font-weight: 500;
  }
  
  /* Inputs & Buttons */
  .Newsletter .form-control {
    border-radius: 10px;
    border: none;
    padding: 0.75rem 1rem;
  }
  
  
  .email-input {
      border-radius: 0.75rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
  
    .submitButton {
      background-color: #076565;
      color: #fff;
      font-weight: bold;
      padding: 0 1.5rem;
      border: none;
      border-radius: 0.75rem;
      margin-left: -1px;
    }
    
    .submitButton:hover {
      color: #ffffff;
      background-color: #0c5e55;
    }